@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,900;1,600&display=swap');

.weather {
    font-family: 'Poppins', sans-serif;
    background: white;
    border-radius: 16px;
    box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
    padding: 40px;
    color: rgb(135, 135, 135);
    margin-top: 40px;

}

.weather form {
    margin-bottom: 20px;
}

.weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}
.Weather ul {
    margin: 0;
    padding: 0;
  }
  

.weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;

}
  
.weather .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 54px;
    line-height: 54px;
    font-weight: 400;
    margin: 10px;
    border: solid;
}

.Weather .search-input::placeholder {
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
}

.Weather .button {
  background: #885df1;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}

.Weather .btn:hover {
  background: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: #885df1;
  height: 50px;
}