.weather {
    font-family: 'Poppins', sans-serif;
    width: 600px;
    height: auto;
    background: var(--main-color);
    border-radius: 16px;
    box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
    padding: 40px;
    color: #000;
    margin: 0 auto;
    margin-top: 40px;

}

.weather form {
    margin-bottom: 20px;
}

.weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  padding-left: 0;
  line-height: 29px;
}
.weather ul {
    margin: 0;
    padding: 0;
  }
  

.weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;

}
  
.weather .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 54px;
    line-height: 54px;
    font-weight: 400;
    margin: 10px;
}

.weather .search-input::placeholder {
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
}

.weather .weather-btn {
  font-size: 20px;
  border: none;
  border-radius: 7px;
  background-color: var(--main-color);
}

.weather .weather-btn:hover {
  font-size: 20px;
  border: 0.5px var(--secondary-color);
  color: var(--secondary-color);
  border-radius: 7px;
  background-color: var(--main-color);
}


